body {
	text-align: center;
	background: wheat;
}

#btnAdd {
	background-color: red;
	border: none;
	padding: 10px 30px;
	color: white;
	margin: 10px;
}

#btnStop {
	background-color: red;
	border: none;
	padding: 10px 30px;
	color: white;
	margin: 10px;
}
